# Web Framework & Production Server
flask
flask-cors
gunicorn
python-dotenv

# Database & Scraper
supabase
pandas


# AI & NLP (Essential for your CareerEngine)
spacy
scikit-learn
numpy

# Optional/Other (If used in your engine)
openai
faiss-cpu
openpyxl
